@model IEnumerable<FashionShopWeb.Models.ChiTietDonHang>

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<p>
    <h2>Tất cả đơn hàng</h2>
</p>


<h2>
    @Html.ActionLink("Create New", "Create")
</h2>
<table class="table table-striped">

    <thead class="table-light">
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                Mã sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Đơn giá
            </th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDonHang)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IdSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>

</table>
