@model IEnumerable<FashionShopWeb.Areas.Admin.ViewModels.CategoriesVM>

@{
    ViewBag.Title = "Quản Lý Danh Mục";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="activity" id="products">
    <div class="title">
        <i class="uil uil-package"></i>
        <span class="text">Danh sách danh mục</span>
    </div>
    <div class="activity-data">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td colspan="8">
                        @using (Html.BeginForm("GetAllCate", "Products", FormMethod.Post, new { id = "category-search-form" }))
                        {
                        <select class="form-select" name="cateSearchType" id="category-search-type" required>
                            <option value="nameCategory">Tìm theo tên loại</option>
                            <option value="nameParentCategory">Tìm theo tên loại cha</option>
                            <option value="IdCategory">Lọc theo mã</option>
                            <option value="IDParentCategory">Lọc theo mã cha</option>
                        </select>
                            <input class="form-control" type="text" placeholder="Tìm kiếm..." name="cateSearchInput" id="category-search-input" required>
                            <button type="submit" class="btn btn-light" id="btn-search-category">
                                <i class="fa fa-search" style="color: #3557ff;"></i>
                                Tìm kiếm
                            </button>
                        }
                        <button class="btn btn-light" id="btn-add-category">
                            <i class="fa fa-plus-square" style="color: #3557ff;"></i>
                            Thêm sản phẩm
                        </button>
                    </td>

                </tr>
            </thead>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>
                        Tên danh mục
                        <div>
                            <a href="@Url.Action("GetAllCate","Categories", new { sortCol = "nameCategory",sortType = "DESC", page = ViewBag.Page})" class="fa fa-solid fa-sort-up"></a>
                            <a href="@Url.Action("GetAllCate","Categories", new { sortCol = "nameCategory",sortType = "ASC", page = ViewBag.Page})" class="fa fa-solid fa-sort-down"></a>
                        </div>
                    </th>
                    <th>
                        Tên danh mục cha
                        <div>
                            <a href="@Url.Action("GetAllCate","Categories", new { sortCol = "nameParentCategory",sortType = "DESC", page = ViewBag.Page})" class="fa fa-solid fa-sort-up"></a>
                            <a href="@Url.Action("GetAllCate","Categories", new { sortCol = "nameParentCategory",sortType = "ASC", page = ViewBag.Page})" class="fa fa-solid fa-sort-down"></a>
                        </div>
                    </th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody id="product-table-body">
                @{ int stt = ViewBag.STT;}
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@(stt++)</td>

                        <td>
                           @item.Category.TenLoaiSP
                        </td>
                        <td>
                           @item.Category.LoaiSanPhamCha.TenLoaiSPCha
                        </td>
                        <td>
                            <button type="button" class="edit-product-btn" data-product-id="@item.Category.IdLoaiSP"><i class="fa fa-wrench"></i></button>
                            <button type="button" class="delete-product-btn" data-product-id="@item.Category.IdLoaiSP"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (ViewBag.NoOfPages > 1)
    {
        <div class="break-page">
            @{
                int PrevPage = ViewBag.Page - 1;
                if (PrevPage <= 0)
                {
                    PrevPage = 1;
                }
                int NextPage = ViewBag.Page + 1;
                if (NextPage >= ViewBag.NoOfPages)
                {
                    NextPage = ViewBag.NoOfPages;
                }
            }
            <div><a class="buttons prev-button" href="@Url.Action("GetAllCate","Categories")/?page=@PrevPage">&lt;&lt;</a></div>
            @for (int i = 0; i < ViewBag.NoOfPages; i++)
            {
                if (i + 1 == ViewBag.Page)
                {
                    <div>
                        <a href="@Url.Action("GetAllCate","Categories")/?page=@(i+1)" class="buttons active">@(i+1)</a>
                    </div>
                }
                else
                {
                    <div>
                        <a href="@Url.Action("GetAllCate","Categories")/?page=@(i+1)" class="buttons">@(i+1)</a>
                    </div>
                }
            }
            <div><a class="buttons next-button" href="@Url.Action("GetAllCate","Categories")/?page=@NextPage">&gt;&gt;</a></div>
        </div>
    }
</div>
